html {
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    

}
main{
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body {
  background-color: mintcream;
}
img{
  width: 100%;
  max-width: 80%;
  height: auto;
  border-radius: 10%;
}

/* styling header */
#header {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  padding: 2% 5%;
  background-color: #045694;

}

/* styling header */
.nav {
    align-self: center;
  }
  .nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }

  .nav a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: 2rem;

}
.logo p {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    font-family: Arial Black, sans-serif;
  }
/* styling header done */

/* styling banner */
#banner {
  background-position: center;
  padding: 5%; /* Enough spacing around text */
  text-align: center;
  margin: auto; /* Center it horizontally */
  color: #045694;
  font-style: oblique;
  font-size: 30px;
  font-style: unset;
  font-weight: lighter;
}
.banner1 {
  color: #045694;
  font-style: oblique;
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-style: unset;
  font-weight: lighter;
  padding: 5%;
  text-align: center;
}

.banner2 {
  background-position: center;
  padding: 20px; /* Enough spacing around text */
  width: 90%;
  text-align: center;
  margin: auto; /* Center it horizontally */
  color:  #045694;
  font-size: 2.5rem;
  border-radius: 8px;
  background-color: white;
  font-style: oblique;

}

.banner p {
    font-size: 2.5rem;
    color: black;
    font-family: "Times New Roman", Times, serif;
    /* padding: 10% 5%; */
  }
/* styling banner done*/

/* styling league */
#leagues {
    margin: 2% 5%;
  }
  #leagues h1 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: black;
  }
  #leagues img {
    height: 300px;
    width: 300px;
    border-radius: 10%;
  
  }
  .serve {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 5%;
  }

/* styling leagues done*/

/* styling footer */
#footer {
    margin-top: 5%;
    padding: 2% 5%;
    background-color: #045694;
    
  }
.foot1 {
  display: flex;
  justify-content: space-between;
}
.foot1 p {
  font-size: 1.5rem;
  color: black;
  font-family: arial White;
}
.foot1 h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 5%;
  text-align: center;
  color: black;
}
.foot1 ul {
    list-style: none;
    text-align: center;
  }
.foot1 a {
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: black;
}
.foot1 i {
  font-size: 1.5rem;
  color: black;
}
.foot1 .socials ul {
  display: flex;
  gap: 10px;
  margin-top: 25%;
  color: white;
}
.foot2 {
  font-size: 1.5rem;
  text-align: center;
  background-color: #045694;
  color: black;
  text-transform: capitalize;
  padding: 2% 0;
}
.foot2 p {
  font-size: 1.5rem;
}

/* styling footer done*/
.Aboutus-page {
  background-position: center;
  background-size: cover;
  padding: 20px; /* Enough spacing around text */
  text-align: center;
  margin: auto; /* Center it horizontally */
  color: #045694;
  font-size: 1.8rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-style: oblique;
}


#leagues .serve img{
 width: 100%;
 height: 100%;
}
#leagues .serve {
  display: grid;                    
  grid-template-columns: repeat(3, 1fr); 
  gap: 5px; }
