*  {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html {
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --main: purple;
    --primary: yellow;
}

/* styling header */
#header {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 2% 5%;
    background-color:#045694;
    font-family: arial white;
    
}

/* styling header */
.nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: 2rem;
}
.nav a:hover {
    color: var(--primary);
}
.logo p {
    font-size: 3rem;       
    font-weight: bold;    
    color:white;         
    font-family: Arial Black, sans-serif;
}
/* styling header done */

/* styling banner */
.banner {
    background-position: center;
    background-size: cover;
    padding: 20px; /* Enough spacing around text */
    text-align: center;
    border-radius: 30px;
    max-width: 800px; /* Wider box */
    margin: auto; /* Center it horizontally */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: black;
    font-size: 1.8rem;
    background-color: rgba(255, 255, 255, 0.8);
}
.banner p {
    font-size: 2.7rem;
    color: black;
    font-family:'Times New Roman', Times, serif;
    /* padding: 10% 5%; */
}
.banner ul {
    font-size: 3.0rem;
    color: black;
    font-family:'Times New Roman', Times, serif;
}
.banner button {
    text-transform: capitalize;
    font-size: 1.6rem;
    margin-top: 3%;
    padding: 10px;
    background-color:#045694;
    color: black;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-family: arial black;
}
/* styling banner done*/

/* styling league */
#leagues {
    margin: 5% 5%;
}
#leagues h1 {
    font-size: 3.0rem;
    text-align: center;
    text-transform: uppercase;
    font-family: arial bold;
    color: black
}
#leagues img {
    height: 250px;
    width: 270px;
}
.serve {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.serve > div {
    background-color: #aad4e8;
    height: 50vh;
    padding: 2px;
    border-radius: 1rem;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 0 30px black;
}
.serve > div:hover {
    transform: translateY(-15px);
}
.serve p {
    text-align: center;
    font-size: 2rem;
    color: black;
    text-transform: capitalize;
    margin-top: 7%;
}
/* styling leagues done*/

/* styling footer */
#footer {
    margin-top: 5%;
    padding: 5% 5%;
    background-color:#045694;
}
.foot1 {
    display: flex;
    justify-content: space-between;
}
.foot1 p {
    font-size: 1.7rem;
    color: black;
    font-family: arial White;
}
.foot1 h2 {
    font-size: 1.7rem;
    text-transform: capitalize;
    margin-bottom: 5%;
    text-align: center;
    color: black;
}
.foot1 ul {
    list-style: none;
    text-align: center;
}
.foot1 a {
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: capitalize;
    color: black;
}
.foot1 i {
    font-size: 2rem;
    color: var(--primary);
}
.foot1 .socials ul {
    display: flex;
    gap: 10px;
    margin-top: 25%;
    color: black;
}
.foot2 {
    font-size: 1.6rem;
    text-align: center;
    background-color:#045694;
    color: black;
    text-transform: capitalize;
    padding: 2% 0;
}
.foot2 p {
    font-size: 1.2rem;
}
.Aboutus-page {
    font-size: 25px;
    color: black;
    text-wrap:initial;
    font-style: oblique;

}
   
    



    
    

/* styling footer done*/